/* Логотип */
.sLogo{
    height: 50px;
}
/* Верхняя панель */
.sTopline{
    background-color: #095410;
    height: 50px;
}
.sTopline a{
    text-decoration: none;
}
.sTopline nav{
    display: inline;
    vertical-align: 18px;
}
/* Список элементов меню */
menu.sMenu{
    list-style-type: none;
    display: inline;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
/* Элемент списка меню */
menu.sMenu li{
    display: inline;
    padding-right: 40px;
    text-transform: uppercase;
}
/* Ссылка в элементе списка меню */
menu.sMenu li a{
    text-decoration: none;
    color: white;
}


/* Список элементов меню */
ul.sFooter{
    list-style-type: none;
    display: inline;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
/* Элемент списка меню */
ul.sFooter li{
    display: inline;
    padding-right: 40px;
    text-transform: uppercase;
}
/* Ссылка в элементе списка меню */
ul.sFooter li a{
    text-decoration: none;
    color: white;
}